{% extends "admin/base.html" %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1>First Blood Settings</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
            {% include "components/errors.html" %}

            <form method="post" accept-charset="utf-8" autocomplete="off">
                <div class="form-group">
                    <b>{{ form.webhook.label }}</b>
                    {{ form.webhook(class="form-control", placeholder="https://discord.com/api/webhooks/...") }}
                    <small class="form-text text-muted">
                        Must be a discord.com or discordapp.com webhook URL.
                    </small>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        {{ form.submit(class="btn btn-md btn-primary btn-outlined") }}
                        <a href="{{ url_for('first_blood_admin.test_webhook') }}"
                           class="btn btn-md btn-secondary btn-outlined ml-2">Test Webhook</a>
                    </div>
                </div>
                {{ form.nonce() }}
            </form>
        </div>
    </div>
</div>
{% endblock %}
